i.fas.fa-eye, .header-contacts {display: none}
.homeworkFilePreview .FileViewer .preview div:nth-child(1) {display: block !important}
.GlobalSearchHomework div.SortIMG {overflow: hidden}





div#RewritedHomeworkPage .listContent .homeworkCard .LoadAndUpload .ListElement {display: flex; flex-direction: column; align-items: center;}
div#RewritedHomeworkPage .listContent .homeworkCard .DownlineActions {top: 0px}
div#RewritedHomeworkPage .listContent .theHwItem .homeworkCard .LoadAndUpload {
	display: flex; flex-direction: column; justify-content: center; z-index: -10; border-radius: 16px;
	height: 100%; position: absolute; opacity: 0; top: 0px; gap: 0px
}

div#RewritedHomeworkPage .listContent .theHwItem.mouseIn .homeworkCard span.toDoDate:not(.MoreInfo) {z-index: -1; opacity: 0.4}
div#RewritedHomeworkPage .listContent .theHwItem.mouseIn:not(.ModalOpened) .homeworkCard .LoadAndUpload {opacity: 1; z-index: 40; gap: 30px}
div#RewritedHomeworkPage .homeworkCard:hover .LoadAndUpload {background: #00000090; height: calc(100% + 18px) !important; z-index: 2; top: -8px !important; opacity: 1; width: calc(100% + 16px) !important; left: -8px; transition: all .3s, left 0s, width 0s;}
div#RewritedHomeworkPage .listContent .homeworkCard span.toDoDate.MoreInfo {align-content: center}
div#RewritedHomeworkPage .theHwItem.mouseIn .homeworkCard .InfoTools {z-index: 100}
